<style>
	* {
	  box-sizing: border-box;
	}
	
	
	.column {
	  float: left;
	  width: 25%;
	  padding: 10px;
	  height: 300px; 
	}
	
	
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	.content-box1 { 
  background-color: #474242;
    width: 300px;
    border: 1px solid black;
    padding: 30px;
    margin: 0px;
}

.content-box3 { 
  background-color: black;
    width: 300px;   
    padding: 30px;
    margin: 0px;
	border-right: outset;
    margin-left: -35px;
    margin-top: 25px;
}
.content-box4 { 
  background-color: black;
    width: 300px;   
	height: 239px;
    padding: 30px;
    margin: 0px;
	border-right: outset;
    margin-left: -20px;
    margin-top: 25px;
}

.box-wrapper{
    /* position:relative;
    height:202px;
    width:202px;
    overflow:hidden; */
	position: relative;
    height: 220px;
    width: 320px;
    overflow: hidden;
    margin-left: 55px;
    margin-top: 63px;
}
.box {  

	position: absolute;
    height: 150px;
    width: 243px;
    background: #474242;
    border: 1px solid #000;
    padding-left: 20px;
    padding-top: 28px;

}

.box:before,
.box:after,
.box-inner:before,
.box-inner:after {
    background:black;
    content: ' ';
    display: block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: solid 1px black;
    position: absolute;
}
.box:before {
    top: -30px;
    left: -1.5em;
}
.box:after {
    top: -30px;
    right: -1.5em;
}
.box-inner:before {
    bottom: -30px;
    left: -1.5em;
}
.box-inner:after {
	bottom: -30px;
    right: -1.5em;
}

	</style>

<!-- New NightMode Footer-->




<div class="container-fluid">
	<div class="container <?php echo ($pt->page == 'watch') ? 'watch-container' : '';?> phone-container">
		<div class="footer-container">
			<div class="row">
				<div class="column" style="background-color:black;">
					<div class="content-box1" style="margin-left: -45px;color: white;padding-top: 5px;">
						<div class="row" style="margin-top: 20px;">
							<div><img src="themes\default\img\logo-light1.png" style="width: 100px;">
							</div>
							<div>
						<p style="float: right;margin-top: -47px;font-size: 10px;color: #b34fa5 !important;">
							<b style="color:#b34fa5 !important;">Exploring love,</b><br>
							<b style="color:#b34fa5 !important;">Erotic Shows, Comedy,</b><br>
							<b style="color:#b34fa5 !important;">Relationship issues &</b><br>
							<b style="color:#b34fa5 !important;">Sensual world</b><br>
						</p>
					</div>
						</div>
						<div class="row">
							<p>
							2013 - 2021  All rights reserved<br>
							DMCA Notice of copyright infringement<br>
							Terms and Conditions<br>
							Privacy Policy<br>
							18 U.S.C 2257 Record Keeping 
							<img src="themes\default\img\R icon.png" style="width: 20px;">
							<img src="themes\default\img\C icon.png" style="width: 20px;">
							<img src="themes\default\img\S icon.png" style="width: 20px;">							
						</p>
						</div>
						<br>
						<div class="row">
							<p>Records Compliance statement</p>							
							<span style="font-size: 11px;">&copy; T.H.E Entertainment</span><br>							
						</div>
					</div>
				</div>
				<div class="column" style="background-color:black;">
					<div class="content-box3">
					<p style="font-size: 15px;color:gray;font-family: cursive;">Elements</p>
					<p style="color: gray;"><b style="color: black;">Honest </b><span style="background-color: red;color:white;">ELITE</span> Social Interaction</p>
					<p style="color: gray;"><b style="color: black;">Honest </b><span style="background-color: #ff00eb;color:white;">ELITE</span> Modeling Gallery</p>
					<p style="color: gray;"><b style="color: black;">Honest </b><span style="background-color: #f67316;color:white;">ELITE</span> Erotic Shoping</p>
					<p style="color: gray;"><b style="color: black;">Honest </b><span style="background-color: #b70c0c;color:white;">ELITE</span> Tube, Live & TV</p>
					<p style="color: gray;"><b style="color: black;">Honest </b><span style="background-color: #8a05b5bf;color:white;">ELITE</span> News Updates</p>
				</div>
			</div>
				<div class="column" style="background-color:black;">
					<div class="content-box4">
					<div class="row">
						<p>
							<p style="font-size: 15px;color:gray;font-family: cursive;margin-top: -10px;">Jobs</p>
							<b style="color: gray;">Now Hiring</b><br>
							<p style="font-size: 10px;">
								Models<br>
							Programmers<br>
							Graphic Designers<br>
							Linx<br>
							Stage designers<br>
							Broadway Managers<br>
							Writers<br>
							Party Planners<br>
							Video TV Editors<br>
							Producers<br>
							Marketing<br>
							Program Managers<br>
						</p>
						</p>
						<div style="float: right;">
							<img src="themes\default\img\chart design.png" style="width: 200px;height: 180px;margin-top: -350px;margin-right: -9px;">
						</div>
					</div>
				</div>
				</div>
				<div class="column" style="background-color:black;">			
				 <div class="box-wrapper">
					<div class="box">
						<div class="box-inner">
							<p style="color: white;">
								<b>Exploring love, Relationship</b> <br>
								<b>Issues, Sensual world, Comedy</b> <br>
								<b>& Erotic Shows.</b><br>							
								<div style="margin-left: 25px;">
									<span>&copy; <b>T.H.E Entertainment</b></span></br>
								</div>								
						   </p>
						</div>
					</div>
				</div>
				</div>
			  </div>
		</div>
	</div>
</div>